<ul class="nav nav-tabs" role="tablist">
  <div class="catergoryTitle">
    Catergories
  </div>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
  </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade show active">
    <app-products-list-pane (productsInCartToEmit) = "addToProductsInCart($event)"></app-products-list-pane>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
<app-shopping-cart *ngIf="productsInCart.length" [productsInCart]="productsInCart"></app-shopping-cart>