<div class="card" style="width: 20rem; background-color: beige; margin: 20px;">
    <img class="card-img-top img-thumbnail img-responsive" src="assets/img/DefaultImage.png" height="50" alt="Product Image Not Available">
    <div class="card-block">
      <h4 class="card-title" style="background-color: antiquewhite;">{{product.productTitle}}</h4>
      <p class="card-text">{{product.productDescription}}</p>
      <a *ngIf="product.isProductAvailable" (click)="sendProductToPaymentCart(product)" class="btn btn-primary">Add to Cart</a>
      <span *ngIf="!product.isProductAvailable" >Added to Cart!</span>
    </div>
</div>  